<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <gcServer enabled="true" />
    <gcConcurrent enabled="true" />
  </runtime>
  <appSettings>
    <add key="nameServerAddress" value="127.0.0.1" />
    <add key="nameServerPort" value="12001" />
    <!--本机IP地址,尤其在多网卡下需要配置-->
    <add key="ipAddress" value="127.0.0.1" />
    <add key="brokerName" value="Broker1" />
    <add key="groupName" value="BrokerGroup1" />
    <add key="producerPort" value="12002" />
    <add key="consumerPort" value="12003" />
    <add key="adminPort" value="12011" />
    <add key="fileStoreRootPath" value="d:\equeue-store" />
    <add key="isMemoryMode" value="false" />
    <add key="syncFlush" value="false" />
    <add key="notifyWhenMessageArrived" value="true" />
    <add key="chunkSize" value="256" />
    <!--MB-->
    <add key="chunkWriteBuffer" value="256" />
    <!--KB-->
    <add key="enableCache" value="true" />
    <add key="flushInterval" value="100" />
    <!--Milliseconds-->
    <add key="chunkCacheMinPercent" value="40" />
    <add key="messageWriteQueueThreshold" value="10000" />
  </appSettings>
</configuration>